@font-face {
  font-family: 'Montserrat-Light';
  src: url('fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('fonts/Montserrat-Bold.ttf') format('truetype');
}




@font-face {
  font-family: 'Bebas';
  src: url('fonts/bebas.ttf') format('truetype');
}

@font-face {
  font-family: 'Bebas-Regular';
  src: url('fonts/BebasRegular.ttf') format('truetype');
}