.fixed-section {

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  position: fixed;
  top: 0;
  bottom: 0;
  max-width: 300px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  @media screen and (min-width: 4096px) {
    width: 320px;
  }

  .link {
    position: absolute;
    color: black;
    text-decoration: none;
    @media screen and (min-width: 2560px) {
      font-size: 26px;
    }
    @media screen and (min-width: 4096px) {
      font-size: 48px;
    }
  }

  .top {
    top: 30px;
    @media screen and (min-width: 2560px) {
      top: 35px;
    }
    @media screen and (min-width: 4096px) {
      top: 50px;
    }
  }

  .left {
    left: 30px;
    @media screen and (min-width: 2560px) {
      left: 35px
    }
    @media screen and (min-width: 4096px) {
      left: 50px;
    }
  }

  .right {
    right: 30px;
    @media screen and (min-width: 2560px) {
      right: 35px;
    }
    @media screen and (min-width: 4096px) {
      right: 50px;
    }
  }

  .bottom {
    bottom: 30px;
    width: 111px;
    transition: all .5s;
    @media screen and (min-width: 2560px) {
      width: 158px;
      bottom: 35px;
    }
    @media screen and (min-width: 4096px) {
      width: 290px;
      bottom: 50px;
    }

    &.left {
      transform: rotate(-90deg);
      transform-origin: left bottom;
      left: 50px;
      @media screen and (min-width: 2560px) {
        left: 55px;
      }
      @media screen and (min-width: 4096px) {
        left: 100px;
      }
    }

    &.right {
      transform: rotate(90deg);
      transform-origin: right bottom;
      right: 50px;
      @media screen and (min-width: 2560px) {
        right: 55px;
      }
      @media screen and (min-width: 4096px) {
        right: 100px;
      }
    }

  }

  @media screen and (max-width: 1024px) {
    display: none;
  }

}