.form-section.touch-form {

    .container-box {
        @media screen and (min-width: 2560px) {
            height: 1260px;
        } 

        @media screen and (max-width: 380px) {
            margin-top: 0;
        }
    }
}

.form-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(images/png/bg-image-2.png);
    background-size: cover;
    padding-top: 14vh;

    .triangles-small {
        @media screen and (min-width: 2560px) {
            height: 4vh !important;
            width: auto !important;
        } 

        @media screen and (max-width: 768px) {
            display: block;
            width: 52px !important;
            height: 28px !important;
            top: 18px !important;
            left: 20px;
            position: absolute;
            right: auto;
        }

        @media screen and (max-width: 768px) {
            height: 20px !important;
            top: 24px !important;
        }
    }

    .mobile-logo {
        display: none;

        @media screen and (max-width: 768px) {
            display: block;
            position: absolute;
            top: 20px;
            left: 0;
            right: 0;
            margin: 0 auto;
            text-align: center;
        }

        img {
            height: 20px;

            @media screen and (max-width: 420px) {
                height: 16px;
            }
        }
    }

    .mobile-burger {
        right: 20px;
        top: 20px;
        position: absolute;
        z-index: 9999;
    }

    .triangles-small {
        width: 72px;
        height: 38px;
        top: 2vh;
    }

    .container-box {
        max-width: 1660px;
        width: 100%;
        margin: 0 auto;
        background: #fff;
        padding: 50px 70px;
        box-sizing: border-box;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 820px;
        padding: 100px 80px;

        @media screen and (min-width: 2560px) {
            max-width: 2200px;
        }

        @media screen and (max-width: 1440px) {
            padding: 80px 60px;
            height: 780px;
            max-width: 1260px;
        }

        @media screen and (max-width: 1366px) {
            padding: 50px 40px;
            height: 660px;
            max-width: 1200px;
        }

        @media screen and (max-width: 768px) {
            position: static;
        }

        @media screen and (max-width: 420px) {
            padding: 25px;
        }
        
        h1 {
            font-family: 'Montserrat-Medium';
            font-size: 60px;
            line-height: 60px;
            text-transform: uppercase;
            margin-bottom: 30px;

            @media screen and (min-width: 2560px) {
                font-size: 80px;
                line-height: 80px;
                margin-bottom: 60px;
            }

            @media screen and (max-width: 1366px) {
                font-size: 48px;
                line-height: 48px;
            }

            @media screen and (max-width: 768px) {
                font-size: 32px;
                line-height: 32px;
                margin-bottom: 10px;
            }

            @media screen and (max-width: 420px) {
                font-size: 38px; 
            }
        }

        .text-hint {
            font-family: 'Montserrat-Regular';
            font-size: 25px;
            letter-spacing: 6px;
            margin-bottom: 80px;

            @media screen and (min-width: 2560px) {
                font-size: 26px;
            }

            @media screen and (max-width: 1366px) {
                font-size: 18px;
                margin-bottom: 60px;
            }

            @media screen and (max-width: 768px) {
                font-size: 18px;
                margin-bottom: 25px;
            }

            @media screen and (max-width: 420px) {
                font-size: 16px;
                margin-bottom: 20px;
                letter-spacing: 2px;
            }
        }

        .form-container {
            max-width: 1500px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;

            @media screen and (min-width: 2560px) {
                margin-top: 40px;
                max-width: 100%;
            }

            @media screen and (max-width: 768px) {
                flex-direction: column;
                margin-top: 0;
            }

            .inp-block {
                position: relative;
                max-width: 470px;
                width: 100%;

                @media screen and (min-width: 2560px) {
                    max-width: 650px;
                }

                @media screen and (max-width: 768px) {
                    max-width: 100%;
                }

                input {
                    width: 100%;
                    height: 54px;
                    outline: none;
                    box-sizing: border-box;
                    font-size: 18px;
                    padding-left: 15px;
                    color: #000;
                    font-family: 'Montserrat-Regular';
                    border: 1px solid #1c1c1c;
    
                    @media screen and (min-width: 2560px) {
                        height: 92px;
                        font-size: 26px;
                    }
    
                    @media screen and (max-width: 768px) {
                        max-width: 100%;
                        margin-top: 20px;
                    }
                }

                span {
                    position: absolute;
                    color: red;
                    top: 34%;
                    right: 15px;


                    @media screen and (min-width: 2560px) {
                        font-size: 26px;
                        right: 30px;
                    }

                    @media screen and (max-width: 768px) {
                        top: 50%;
                    }
                }
            }

            .margin-aut {
                margin: 0 10px 0 10px;
            }

        }

        textarea {
            width: 100%;
            height: 108px;
            margin: 0 auto;
            outline: none;
            box-sizing: border-box;
            margin-top: 20px;
            font-size: 18px;
            padding-left: 15px;
            padding-top: 15px;
            color: #000;
            font-family: 'Montserrat-Regular';
            border: 1px solid #1c1c1c;

            @media screen and (min-width: 2560px) {
                height: 320px;
                margin-top: 40px;
                font-size: 26px;
            }

            @media screen and (max-width: 768px) {
                width: 100%;
                margin-top: 20px;
            }
        }

        .big-text {
            font-size: 100px;
            font-family: 'Bebas-Regular';
            margin-top: 80px;
            text-shadow: 2px 10px 20px rgba(0,0,0,.25);
            line-height: 1.3;

            @media screen and (min-width: 2560px) {
                font-size: 160px;
                margin-top: 100px;
            }

            @media screen and (max-width: 1400px) {
                font-size: 80px;
            }

            @media screen and (max-width: 768px) {
                font-size: 60px;
                margin-top: 40px;
                margin-bottom: 0;
            }
        }

        .bottom-text {
            font-family: 'Montserrat-Regular';
            font-size: 18px;

            @media screen and (min-width: 2560px) {
                font-size: 28px;
            }

            @media screen and (max-width: 768px) {
                font-size: 14px;
            }
        }
    }
}