.how-we-work {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  flex-direction: column;
  
  .container {
    @media screen and (min-width: 2560px) {
      max-width: 1600px!important;
    }
    @media screen and (min-width: 4096px) {
      max-width: 3800px!important;
    }
  }

  .slide-content {
    height: 70vh;
    h1{
      text-transform: uppercase;
      @media screen and (min-width: 4096px) {
        margin-top: 22vh;
      }
    }
    @media screen and (max-width: 767px) {
      height: 100vh;
    }
    .text-col h4 {
      @media screen and (min-width: 4096px) {
        max-width: 1000px;
      }
    }

    .text-col h1 {
      @media screen and (min-width: 2560px) {
        margin-top: 6vh;
      }
    }

    .bulb-image {
      display: block;
      margin: auto;
      width: 70%;
      height: 100%;

      @media screen and (max-width: 1200px) {
        width: 70%;
        margin-right: 10px;
        margin: 0 auto;
      }

      @media screen and (max-width: 767px) and (orientation: landscape) {
        width: 40%;
        margin: 0 auto;
      }

      &:hover {
        animation: shake 0.92s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }

      &.animated {
        animation: shake 0.92s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }

    }

  }

  .triangles-small {
    height: 4vh;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 2vh;

    @media screen and (max-width: 767px) {
      display: none;
    }

  }

  .how-we-work-slider-container {
    height: 100%;
    padding-top: 6%;
    @media screen and (min-width: 2560px) {
      padding-top: 0;
    }

    .how-we-work-slider {
      height: 100%;
    }

    .slick-list {
      height: 100%;
    }

    .slick-next {
      background: lightgray;
      opacity: 0.75%;
      right: 0;
      width: 50px;
      height: 50px;
      z-index: 1000;

      &:before {
        color: white;
        opacity: 1;
      }
    }

    .slick-prev {
      background: lightgray;
      opacity: 0.75%;
      left: 0;
      width: 50px;
      height: 50px;
      z-index: 1000;

      &:before {
        color: white;
        opacity: 1;
      }
    }
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-2px, 0, 0);
    }

    20%, 80% {
      transform: translate3d(3px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-6px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(6px, 0, 0);
    }
  }

  .custom-dots {
    padding-left: 0;
    text-align: center;

    li {
      margin: 0 0 0 .5em;
      display: inline-block;
      list-style: none;

      &:first-child {
        margin-left: 0;
      }
    }

    .dot {
      display: block;
      width: 100px;
      text-decoration: none;
      cursor: pointer;
      @media screen and (min-width: 2560px) {
        width: 140px;
      }
      @media screen and (min-width: 4096px) {
        width: 300px;
      }
    }

    .dot-text {
      font-size: 12px;
    }

    // active slide
    .slick-active .dot {
      .cls-1 {
        fill: black;
      }
      .dot-text {
        fill: white;
      }
    }

    // hover event
    .dot:hover,
    .custom-dots .slick-active .dot:hover {
      .cls-1 {
        fill: gray;
      }
    }
  }

  @media screen and (min-width: 2560px) {
    .item-slide {
      justify-content: space-around;
      align-items: center
    }

    .img-idea {
      max-width: 600px;
      width: 100%;
      .bulb-image {
        width: 100%;
      }
    }

    .idea-text {
      max-width: 600px;
    }
  }

  @media screen and (min-width: 4096px) {
    .item-slide {
      justify-content: space-around;
    }

    .img-idea {
      max-width: 1200px;
      width: 100%;
      .bulb-image {
        width: 100%;
      }
    }

    .idea-text {
      max-width: 1000px;
    }
  }
}

.workers-column {
  .row {
    .col-md-4.col-6 {
      p {
        @media screen and (min-width: 4096px) {
          font-size: 36px;
        }
      }
    }
  }
}