.bg-2 {
  background: url('images/png/bg-image-2.png');
  background-size: cover;
 }

.info-section {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .content-flex {
    height: 90vh;
    @media screen and (max-width: 767px) {
      height: 100vh;
    }
  }

  .vertical-line {
    border-left: 2px solid black;
    height: 10vh;
    margin-left: -1px;
    align-self: center;
  }

  #triangles-image-info {
    display: none;
  }
  
  .info-text {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    max-width: 1000px;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 1.5;
    margin: 5% auto;
    align-self: center;
    @media screen and (min-width: 2560px) {
      font-size: 25px;
      max-width: 1400px;
    }
    @media screen and (min-width: 4096px) {
      font-size: 56px;
      max-width: 2800px;
    }

    p {
      margin: 0;
      padding-left: 15%;
      padding-right: 15%;
    }

  }

}
