.container-box.join {
    height: 820px;
    text-align: left;
    padding: 100px 80px;

    @media screen and (min-width: 2560px) {
        height: 1260px;
    }

    @media screen and (max-width: 1440px) {
        padding: 80px 60px;
        height: 780px;
        max-width: 1260px;
    }

    @media screen and (max-width: 1366px) {
        padding: 50px 40px;
        height: 660px;
        max-width: 1200px;
    }

    @media screen and (max-width: 1366px) {
        height: 600px;
    }

    @media screen and (max-width: 1000px) {
        padding: 25px;
    }

    .title-page {
        font-size: 60px;
        line-height: 60px;
        text-transform: uppercase;
        font-family: 'Montserrat-Medium';

        @media screen and (min-width: 2560px) {
            font-size: 80px;
            line-height: 80px;
        }

        @media screen and (max-width: 1366px) {
            font-size: 48px;
            line-height: 48px;
        }

        @media screen and (max-width: 768px) {
            font-size: 32px;
            line-height: 32px;
        }
    }

    .title-text {
        font-size: 25px;
        font-family: 'Montserrat-Regular';
        margin-top: 40px;

        @media screen and (min-width: 2560px) {
            font-size: 48px;
            margin-top: 80px;
        }

        @media screen and (max-width: 768px) {
            margin-top: 25px;
            font-size: 22px;
        }
    }

    .title-text.androin {
        margin-top: 90px;

        @media screen and (max-width: 768px) {
            margin-top: 60px;
         }
    }

    .text-page {
        font-size: 16px;
        font-family: 'Montserrat-Light';

        @media screen and (min-width: 2560px) {
            font-size: 30px;
        }

        @media screen and (max-width: 768px) {
           font-size: 16px; 
        }
    }
}

.scroll-box {
    overflow-y: scroll;
    height: 650px;
    padding: 0 25px;
    box-sizing: border-box;

    @media screen and (min-width: 2560px) {
        height: 1120px;
    }

    @media screen and (max-width: 1366px) {
        height: 550px;
    }

    @media screen and (max-width: 380px) {
        height: 520px;
    }
}

.scroll-box::-webkit-scrollbar {
    width: 6px;
    margin-right: 10px;
}

.scroll-box::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.scroll-box::-webkit-scrollbar-thumb {
    background: #000; 
    border-radius: 50px;
}

.title-ul {

}
