.our-team {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;

  @media screen and (max-width: 768px){
    flex-direction: column;
  }

  h1{
    text-transform: uppercase;
    @media screen and (min-width: 2560px) {
      margin-top: 4vh;
    }
    @media screen and (min-width: 4096px) {
      margin-top: 0;
    }
  }
  
  .triangles-small {
    height: 4vh;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 2vh;

    @media screen and (max-width: 767px) {
      display: none;
    }

  }

  .container {
    padding-top: 6%;
    @media screen and (min-width: 2560px) {
      max-width: 1600px !important;
    }
    @media screen and (min-width: 4096px) {
      max-width: 2800px !important;
    }
    .row {
      @media screen and (min-width: 2560px) {
        align-items: center;
      } 
    }
  }

  .about_image {
    max-width: 150px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.2s;
    @media screen and (min-width: 2560px) {
      max-width: 160px;
    }
    @media screen and (min-width: 4096px) {
      max-width: 300px;
    }
  }

  .filter {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }

  .workers-column {
    @media screen and (max-width: 767px) {
      padding-top: 20px;
    }
  }

}