.fixed-section.white-color .link {
    text-shadow: 1px 1px 1px #fff;
    color: #000;
} 

.form-section.new-bgr {
    background: #fff;

    header {
        max-width: 1160px;
        width: 100%;
        margin: 0 auto;
        display: flex; 
        justify-content: space-between;
        align-items: center;

        @media screen and (min-width: 2560px) {
            max-width: 1800px;
        }

        @media screen and (max-width: 1200px) {
            padding: 0 20px;
            box-sizing: border-box;
        }

        @media screen and (max-width: 640px) {
            flex-direction: column;
            align-items: flex-start;
        }

        .left-text {
            font-family: 'Bebas';
            font-size: 68px;
            margin: 0;
            line-height: 60px;

            @media screen and (min-width: 2560px) {
                font-size: 82px;
            }

            @media screen and (max-width: 500px) {
                font-size: 46px;
            }
        }

        .numbers {
            text-align: right;
            color: #aeaeae;
            font-size: 18px;
            font-family: 'Montserrat-Medium';
            margin: 0;

            @media screen and (min-width: 2560px) {
                font-size: 32px;
            }
        }

        .right-text {
            font-size: 18px;
            font-family: 'Montserrat-Bold';

            @media screen and (min-width: 2560px) {
                font-size: 26px;
            }

            span {
                font-family: 'Montserrat-Regular';
                color: #aeaeae;
            }
        }
    }

    .bgr-box {
        background: url('images/png/img-phone.png');
        min-height: 860px;
        background-size: cover;
        background-position: center;
        margin-top: 40px;
        transition: all .5s;

        @media screen and (min-width: 2560px) {
            min-height: 1060px;
        }

        @media screen and (max-width: 1366px) {
            min-height: 768px;
        }

        @media screen and (max-width: 768px) {
            min-height: 380px;
        }

        @media screen and (max-width: 640px) {
            margin-top: 0px;
        }
    }
    
    .our-project {
        max-width: 1600px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 50px;
        box-sizing: border-box;
        position: relative;
        top: -100px;
        background: #fff;

        @media screen and (min-width: 2560px) {
            max-width: 2200px;
        }

        @media screen and (max-width: 1200px) {
            flex-direction: column;
        }

        @media screen and (max-width: 768px) {
            position: static;
        }

        @media screen and (max-width: 580px) {
            padding: 50px 20px 20px 20px;
        }

        .text-box {
            max-width: 580px;
            width: 100%;

            @media screen and (min-width: 2560px) {
                max-width: 960px;
            }

            @media screen and (max-width: 1200px) {
                max-width: 100%;
                text-align: center;
            }

            @media screen and (max-width: 460px) {
                text-align: left;
            }

            .title-text {
                font-family: 'Montserrat-Bold';
                font-size: 20px;

                @media screen and (min-width: 2560px) {
                    font-size: 36px;
                }
            }

            .text-description {
                font-size: 18px;
                font-family: 'Montserrat-Light';

                @media screen and (min-width: 2560px) {
                    font-size: 28px;
                }

                @media screen and (max-width: 460px) {
                    font-size: 16px;
                }
            }
        }
    }

    .ui-text {
        font-family: 'Bebas';
        font-size: 68px;
        margin: 0;
        line-height: 60px;
        max-width: 1600px;
        padding: 0 50px;
        box-sizing: border-box;
        width: 100%;
        margin: 0 auto;
        position: relative;
        top: -60px;

        @media screen and (min-width: 2560px) {
            font-size: 82px;
            max-width: 2200px;
        }

        @media screen and (max-width: 1200px) {
            text-align: center;
        }

        @media screen and (max-width: 768px) {
            position: static;
            margin-bottom: 50px;
        }

        @media screen and (max-width: 500px) {
            font-size: 46px;
        }

        @media screen and (max-width: 460px) {
            margin-bottom: 25px;
            padding: 0 20px;
            text-align: left;
        }
    }

    .ui-design {
        background: url('images/png/fonts-bgr.png');
        min-height: 860px;
        background-size: cover;
        background-position: center;

        @media screen and (min-width: 2560px) {
            min-height: 1060px;
        }

        @media screen and (max-width: 1366px) {
            min-height: 768px;
        }

        @media screen and (max-width: 768px) {
            min-height: 380px;
        }
    }

    .ui-dev {
        background: url('images/png/portfolioDr.jpg');
        min-height: 860px;
        background-size: cover;
        background-position: center;

        @media screen and (min-width: 2560px) {
            min-height: 1060px;
        }

        @media screen and (max-width: 1366px) {
            min-height: 768px;
        }

        @media screen and (max-width: 768px) {
            min-height: 380px;
        }
    }

    .icon-text {
        font-family: 'Bebas';
        font-size: 68px;
        margin: 0;
        line-height: 60px;
        max-width: 1600px;
        padding: 0 50px;
        box-sizing: border-box;
        width: 100%;
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 70px;

        @media screen and (min-width: 2560px) {
            max-width: 2200px;
            font-size: 82px;
        }

        @media screen and (max-width: 1200px) {
            text-align: center;
            margin-top: 50px;
            margin-bottom: 45px;
        }

        @media screen and (max-width: 500px) {
            font-size: 46px;
        }

        @media screen and (max-width: 460px) {
            margin-bottom: 25px;
            padding: 0 20px;
            text-align: left;
        }
    }

    .icon-design-box {
        max-width: 1600px;
        padding: 0 50px;
        box-sizing: border-box;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        @media screen and (min-width: 2560px) {
            max-width: 2200px;
        }

        @media screen and (max-width: 1100px) {
            flex-direction: column;
        }

        @media screen and (max-width: 580px) {
            padding: 0 20px;
        }
        

        .icon-text-box {
            max-width: 260px;
            width: 100%;
            font-family: 'Montserrat-Light';
            font-size: 16px;

            @media screen and (min-width: 2560px) {
                max-width: 550px;
                font-size: 28px;
            }

            @media screen and (max-width: 1100px) {
                max-width: 100%;
                text-align: center;
            }

            @media screen and (max-width: 460px) {
                text-align: left;
            }
        }

        .icons-box {
            max-width: 1060px;
            width: 100%;

            @media screen and (min-width: 2560px) {
                max-width: 1320px;
            }

            @media screen and (max-width: 1366px) {
                max-width: 800px;
            }

            @media screen and (max-width: 1100px) {
                margin: 0 auto;
                max-width: 100%;
            }

            .line-icon-box {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-bottom: 50px;

                @media screen and (min-width: 2560px) {
                    margin-bottom: 100px;
                }

                @media screen and (max-width: 400px) {
                    margin-bottom: 15px;
                }

                .bgr-icon {
                    background: #f0f0f0;
                    max-width: 320px;
                    width: 100%;
                    height: 320px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @media screen and (min-width: 2560px) {
                        max-width: 360px;
                        height: 360px;
                    }

                    @media screen and (max-width: 1366px) {
                        max-width: 220px;
                        height: 220px;
                    }

                    @media screen and (max-width: 768px) {
                        max-width: 150px;
                        height: 150px;
                    }

                    @media screen and (max-width: 500px) {
                        max-width: 100px;
                        height: 100px;
                    }

                    img {
                        height: 90px;

                        @media screen and (min-width: 2560px) {
                            height: 120px;
                        }

                        @media screen and (max-width: 500px) {
                            height: 40px;
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 460px) {
            .icons-box > div:last-child {
                margin-bottom: 0;
            }
        }
    }

    .text-center {
        text-align: center;
        font-family: 'Montserrat-Bold';
        margin-top: 100px;
        margin-bottom: 40px;
        font-size: 46px;

        @media screen and (min-width: 2560px) {
            font-size: 76px;
        }

        @media screen and (max-width: 1200px) {
            margin-top: 80px;
        }

        @media screen and (max-width: 500px) {
            font-size: 32px;
        }

        @media screen and (max-width: 460px) {
            margin-bottom: 30px;
            margin-top: 50px;
            font-size: 28px;
        }
    }

    .tetx-center-auto {
        max-width: 740px;
        width: 100%;
        margin: 0 auto;
        color: #000;
        font-size: 18px;
        text-align: center;
        font-family: 'Montserrat-Light';

        @media screen and (min-width: 2560px) {
            max-width: 1260px;
            font-size: 28px;
        }

        @media screen and (max-width: 620px) {
            font-size: 16px;
            padding: 0 10px;
        }
    }

    .soc-link {
        max-width: 520px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-content: center;
        justify-content: space-between;
        margin-top: 80px;

        @media screen and (min-width: 2560px) {
            max-width: 800px;
        }

        @media screen and (max-width: 500px) {
            width: 320px;
            margin-top: 50px;
        }

        img {
            width: 240px;
            height: 80px;

            @media screen and (min-width: 2560px) {
                width: auto;
                height: 120px;
            }

            @media screen and (max-width: 500px) {
                width: auto;
                height: 50px;
            }
        }
    }

    .container-text {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        margin-top: 150px;

        @media screen and (max-width: 620px) {
            margin-top: 80px;
        }

        .fonts-text-box {
            max-width: 1400px;
            width: 100%;
            background: #f0f0f0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 120px;
            box-sizing: border-box;

            @media screen and (min-width: 2560px) {
                max-width: 1800px;
            }

            @media screen and (max-width: 1366px) {
                padding: 100px 50px;
            }

            @media screen and (max-width: 1100px) {
                flex-direction: column;
                padding: 50px;
            }

            @media screen and (max-width: 460px) {
                padding: 20px;
            }

            img {
                width: 150px;
                height: 80px;

                @media screen and (min-width: 2560px) {
                    width: auto;
                    height: 120px;
                }

                @media screen and (max-width: 1100px) {
                    margin-bottom: 50px;
                }

                @media screen and (max-width: 768px) {
                    height: 50px;
                }
            }
    
            p {
                max-width: 815px;
                width: 100%;
                margin: 0;
                font-family: 'Montserrat-Regular';
                font-size: 18px;

                @media screen and (min-width: 2560px) {
                    max-width: 1200px;
                    font-size: 30px;
                }

                @media screen and (max-width: 768px) {
                    font-size: 16px;
                }

                span {
                    margin-top: 50px;
                    display: block;
                    font-family: 'Montserrat-Medium';
                }
            }
        }
    }

    .project-start {
        font-family: 'Bebas';
        font-size: 158px;
        text-align: center;
        text-shadow: 2px 10px 20px rgba(0,0,0,.25);
        color: #000;
        margin: 0 auto;
        margin: 80px 0 40px 0;
        display: block;
        text-decoration: none;

        @media screen and (min-width: 2560px) {
            font-size: 180px;
            margin: 240px 0 180px 0;
        }

        @media screen and (max-width: 1366px) {
            font-size: 128px;
            margin: 120px 0 80px 0;
        }

        @media screen and (max-width: 860px) {
            font-size: 80px;
        }

        @media screen and (max-width: 620px) {
            font-size: 60px;
            margin: 90px 0 60px 0;
        }

        @media screen and (max-width: 420px) {
            font-size: 52px;
            margin: 50px 0 30px 0;
        }
    }

    .page-step {
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left, .right {
            display: flex;
        }

        .left {
            justify-content: flex-start;
        }

        .right {
            justify-content: flex-end;
        }

        .left-box {
            background: #191919;
            text-align: left;

            a {
                @media screen and (max-width: 460px) {
                    font-size: 14px !important;
                }

                img {
                    margin-right: 20px;

                    @media screen and (max-width: 460px) {
                        margin-right: 10px !important;
                        width: 15px !important;
                    }
                }

            }
        }

        .right-box {
            background: #000000;
            text-align: right;

            a {
                @media screen and (max-width: 460px) {
                    font-size: 14px !important;
                }

                img {
                    margin-left: 20px;

                    @media screen and (max-width: 460px) {
                        margin-left: 10px !important;
                        width: 15px !important;
                    }
                }
            }
        }

        .left-box, .right-box {
            max-width: 960px;
            width: 100%;
            padding: 80px 80px 60px 80px;
            box-sizing: border-box;

            @media screen and (min-width: 2560px) {
                max-width: 1310px;
                padding: 80px 100px 60px 100px;
            }

            @media screen and (max-width: 860px) {
                padding: 40px 40px 30px 40px;
            }

            @media screen and (max-width: 620px) {
                padding: 20px 20px 15px 20px;
            }
            
            a {
                display: flex;
                align-items: center;
                font-size: 18px;
                color: #838383;
                text-decoration: none;
                z-index: 99;

                @media screen and (min-width: 2560px) {
                    font-size: 32px;
                }

                img {
                    width: 20px;
                }
            }

            p {
                font-family: 'Bebas';
                color: #a4a4a4;
                font-size: 56px;
                margin: 0;

                @media screen and (min-width: 2560px) {
                    font-size: 72px;
                }

                @media screen and (max-width: 860px) {
                    font-size: 46px;
                }

                @media screen and (max-width: 860px) {
                    font-size: 36px;
                }

                @media screen and (max-width: 460px) {
                    font-size: 24px;
                }
            }
        }
    }
}

.transform-elem {
    animation-name: expanding;
    animation-duration: 1s;
}
   
@keyframes expanding {
    from {
      transform: scale(0.5)
    }
   
    to {
      transfor: scale(1);
    }
}

.link-disable {
    opacity: .5;
    cursor: default;
}

.block-none {
    display: none;
}