#top-section {
  background: url('images/png/bg-image-1.png');
  background-size: cover;
 }

.top-section {
  width: 100%;
  min-height: 100vh;
  background-size: cover;

  a {
    text-decoration: none;
  }

  #triangles-image {
    height: 25%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: none;

    @media screen and (max-width: 768px) {
      display: none;
    }

    // IE FIX
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      position: absolute;
      display: block;
    }

    .poly {
      fill-opacity: 1;
      &:hover {
        fill-opacity: 0;
      }
    }
  }

  header {
    width: 100%;

    @media screen and (max-width: 768px) {
      display: none;
    }

    h1 {
      font-weight: normal;
      font-family: $font__bebas;
    }
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 20px;
      @media screen and (min-width: 4096px) {
        padding-top: 40px;
      }
      img {
        @media screen and (min-width: 4096px) {
          width: 300px;
        }
      } 

    }

  }

  .mobile-logo {
    text-align: center;

    h1 {
      font-weight: bold;
      font-size: 10vw;
    }

    .mobile-logo-img {
      width: 40vw;
    }

  }

  .burger {

    .bar {
      width: 35px;
      height: 5px;
      background-color: black;
      margin: 6px 0;
    }

  }

  .mobile-burger {
    position: absolute;
    top: 20px;
    right: 20px;
  }

}

