.what-we-do {
  min-height: 100vh;
  width: 100%;
  position: relative;
  .mobile-header{
    @media screen and (max-width: 992px){
      margin-top: -0.1em;
      padding-top: 0.5em;
  }
}

  .slide-content {
    height: 70vh;
    width: 75%;
    margin: 0 auto;
    @media screen and (min-width: 2560px) {
      width: 65%;
      justify-content: space-evenly;
      align-items: center
    }

    h1{
     text-transform: uppercase; 
     @media screen and (min-width: 2560px) {
      margin-top: 12vh;
      }
     @media screen and (min-width: 4096px) {
        margin-top: 14vh;
      }
    }

    @media screen and (max-width: 1024px){
      width: 100%;
    }

    @media screen and (max-width: 767px) {
      height: 100vh;
    }

    @media screen and (max-width: 767px) and (orientation: landscape) {
      height: 100%;
    }

    .slider-image-android {
      width: 70%;
      height: 100%;
      fill-opacity: 0;
      display: block;
      margin: auto;

      @media screen and (min-width: 2560px) {
        width: 100%;
      }

      @media screen and (max-width: 767px) and (orientation: landscape) {
        width: 40%;
      }

      .cls {
        fill: none;
        stroke: #000;
        stroke-linecap: round;
        stroke-linejoin: round;
      }

      #Layer_2 {
        fill-opacity: 0;
      }

      .cls-1{
        fill:#333;
      }

      .cls-2{
        fill:#333333;
      }

      .cls-3{
        fill:#4D4D4D;
      }

      .cls-4{
        fill:#1A1A1A;
      }

      .cls-5{
        fill:#666666;
      }

      .cls-6{
        fill:#808080;
      }

      .cls-7{
        fill:#262626;
      }

      .cls-8{
        fill:#383838;
      }

      .cls-9{
        fill:#383838;
      }

      .cls-10{
        fill:#3f3f3f;
      }

      .cls-11{
        fill: black;
      }

    }
    @media screen and (min-width: 2560px) {
      .image-apple, .image-android {
        width: 100%;
        max-width: 700px;
      }
    }

    @media screen and (min-width: 4096px) {
      .image-apple, .image-android {
        width: 100%;
        max-width: 1200px;
      }
    }

    .slider-image-apple {
      width: 70%;
      height: 100%;
      fill-opacity: 0;
      display: block;
      margin: auto;

      @media screen and (min-width: 2560px) {
        width: 100%;
      }

      @media screen and (max-width: 767px) and (orientation: landscape) {
        width: 40%;
      }

      .cls {
        fill: none;
        stroke: #000;
        stroke-linecap: round;
        stroke-linejoin: round;
      }

      #Layer_22 {
        fill-opacity: 0;
      }

      .group {
        fill-opacity: 0;
      }

      .cls-1 {
        fill: none;
        stroke: #000;
        stroke-linecap: round;
        stroke-linejoin: round;
      }

      .cls-2 {
        fill: #3a3a3a;
      }

      .cls-3 {
        fill: #232323;
      }

      .cls-4 {
        fill: #303030;
      }

      .cls-5 {
        fill: #5b5b5b;
      }

      .cls-6 {
        fill: #444;
      }

      .cls-7 {
        fill: #4d4d4d;
      }

      .cls-8 {
        fill: #3f3f3f;
      }

      .cls-9 {
        fill: #1a1a1a;
      }

      .cls-10 {
        fill: #333;
      }

      .cls-11 {
        fill: #606060;
      }

      .cls-12 {
        fill: gray;
      }

      .cls-13 {
        fill: #707070;
      }

      .cls-14 {
        fill: black;
      }

    }

  }

  .top-slider-container {
    height: 100%;
    padding-top: 6%;

    @media screen and (max-width: 767px) {
      padding-top: 0;
    }

    .what-we-do-slider {
      height: 100%;
      padding: 0;
    }

    .slick-list {
      height: 100%;
    }

  }

  .triangles-small {
    height: 4vh;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 2vh;

    @media screen and (max-width: 767px) {
      display: none;
    }

  }

}