.box-container.burger {
  .containers {
    max-width: 1920px;

    @media screen and (min-width: 2560px) {
      max-width: 2560px;
    } 
  }

  .mobile-burger {
    right: 20px;
    top: 20px;
    position: absolute;
    z-index: 9999;
  }

  .triangles-small {
    height: 38px !important;
    top: 2vh;

    @media screen and (min-width: 2560px) {
      height: 4vh !important;
    } 

    @media screen and (max-width: 768px) {
        display: block;
        width: 52px !important;
        height: 28px !important;
        top: 18px !important;
        left: 20px;
        position: absolute;
        right: auto;
    }
  }

  .mobile-logo {
      display: none;

      @media screen and (max-width: 768px) {
          display: block;
          position: absolute;
          top: 20px;
          left: 0;
          right: 0;
          margin: 0 auto;
          text-align: center;
      }

      img {
          height: 20px;
      }
  }

}

.box-container { 
    height: 100vh;
    display: flex;
    align-items: center;
    background: url('images/png/bg-image-2.png');
    background-size: cover;
    overflow: hidden;

    .containers {
        max-width: 1800px;
        width: 100%;
        margin: 0 auto;
        position: relative;

        @media screen and (min-width: 2560px) {
          max-width: 2200px;
        }

        @media screen and (max-width: 768px) {
          margin-top: 10vh;
        }
    }
}

.cl {
  height:600px;
  padding: 0 50px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 2560px) {
    height: 920px;
  }

  @media screen and (max-width: 1440px) {
    height: 460px;
  }

  @media screen and (max-width: 1366px) {
    height: 420px;
  }

  @media screen and (max-width: 1200px) {
    height: 360px;
  }

  @media screen and (max-width: 1100px) {
    height: 300px;
  }

  @media screen and (max-width: 1000px) {
    height: 460px;
  }

  @media screen and (max-width: 768px) {
    height: 360px;
  }

  @media screen and (max-width: 420px) {
    height: 300px;
  }

  p {
    color: #b3b3b3;
    font-size: 160px;
    font-family: 'Bebas';
    margin: 0;

    @media screen and (min-width: 2560px) {
      font-size: 260px;
    }

    @media screen and (max-width: 1366px) {
      font-size: 120px;
    }

    @media screen and (max-width: 1200px) {
      font-size: 80px;
    }

    @media screen and (max-width: 420px) {
      font-size: 60px;
    }
  }
}

.cl.no-active {
  background: none;
}

.opacity-fonts.no-active {
  background: none;
}

.cl-yellow { 
  background: url('images/png/img-phone.png');
  background-size: cover;
  background-position: center;
}

.cl-blue { 
  background: url('images/png/img-phon.png');
  background-size: cover;
  background-position: center;
}

.cl-red { 
  background: url('images/png/img-dom.png');
  background-size: cover;
  background-position: center;
}

.opacity-fonts {
  background: rgba(0,0,0,.25);
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.slick-center { 
  .cl {
    justify-content: center !important;
    position: relative;
    z-index: 25;
  }

  p {
    color: #fff;
    z-index: 25;
    transition: all .5s;
      span {
        letter-spacing: -14px;
        margin-left: 10px;
        margin-right: 20px;
      }
    &:hover {
      letter-spacing: 10px;
      transition: all .5s;
    }
  }
}


.child { 
  width:100%; 
}

.slide:not(.slick-active) { 
  cursor: pointer; 
}

.navigation-arrow {
  width: 160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -80px;

  @media screen and (min-width: 2560px) {
    width: 240px;
    bottom: -150px;
  }

  .next {
    background: url('images/png/button_right.png');
    width: 50px;
    height: 50px;
    display: block;
    background-size: cover;
    cursor: pointer;

    @media screen and (min-width: 2560px) {
      width: 80px;
      height: 80px;
    }
  }
  
  .prev {
    background: url('images/png/button_left.png');
    width: 50px;
    height: 50px;
    display: block;
    background-size: cover;
    cursor: pointer;

    @media screen and (min-width: 2560px) {
      width: 80px;
      height: 80px;
    }
  }
  
}


iframe {
  width: 100%;
  height: 100vh;
  border: none;
  opacity: 0;
  transition: all 2s;
}