footer {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-image: url("images/svg/footer-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position: right 0 top 60px;

  @media screen and (max-width: 767px) {
    background-position: right 0 top 0;
  }

  .container-footer {
    padding-top: 240px;
    @media screen and (min-width: 2560px) {
      padding-top: 440px;
    }
    @media screen and (min-width: 5120px) {
      padding-top: 840px;
    }
    .container {
      @media screen and (min-width: 2560px) {
        max-width: 2400px !important;
      }
      @media screen and (min-width: 4096px) {
        max-width: 4380px!important;
      }
      .row {
        @media screen and (min-width: 2560px) {
          justify-content: space-evenly;
        }
      }
    }
  }

  .social {
    margin-top: 73px;
    margin-bottom: 40px;

    .footer-icon {
      &.ml {
        margin-left: 16px;
      }
    }

    a {
      text-decoration: none;
    }

  }

  .footer-image {
    filter: grayscale(100%);
    max-width: 100%;
  }

  .footer-icon {
    width: 44px;
    height: 44px;
    @media screen and (min-width: 2560px) {
      width: 60px;
      height: 60px;
    }
    @media screen and (min-width: 4096px) {
      width: 100px;
      height: 100px;
    }
  }

  .footer-info-item {
    margin-top: 24px;
    @media screen and (min-width: 2560px) {
      margin-top: 60px;
      display: flex;
      align-items: center;
    }
    span {
      margin-left: 15px;
      display: inline-block;
      color: white;
      max-width: 200px;
      line-height: 1.2; 
      font-size: 15px;
      @media screen and (min-width: 2560px) {
        max-width: 300px;
        font-size: 22px;
      }
      @media screen and (min-width: 4096px) {
        max-width: 460px;
        font-size: 38px;
        margin-left: 25px;
      }
    }

    a {
      text-decoration: none;
    }

  }

  .col-info {

    @media screen and (min-width: 767px) {
      padding-left: 60px;
    }

    @media screen and (min-width: 796px) {
      padding-left: 120px;
    }

    @media screen and (min-width: 2560px) {
      padding-left: 0px;
      max-width: 400px;
    }

    @media screen and (min-width: 4096px) {
      max-width: 1000px;
    }


  }

} 