body {
  margin: 0;
  // font-family: $font__family;
  color: black;
}

a {
  text-decoration: none !important;
  outline: none;
}

.container {
  @media screen and (min-width: 768px) {
    max-width: 1280px !important;
  }
}

.triangles-small {
  height: 4vh;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 2vh;

  @media screen and (max-width: 767px) {
    display: none;
  }

}

.centered {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-col {

  h1 {
    font-weight: bold;
    font-family: 'Bebas-Regular';
    font-size: 80px;
    margin-top: 15vh;
    @media screen and (min-width: 4096px) {
      font-size: 172px;
    }
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  h4 {
    font-size: 42px;
    margin-top: 9vh;
    font-family: 'Montserrat-Bold';
    max-width: 400px;
    @media screen and (min-width: 4096px) {
      font-size: 68px;
      max-width: 600px;
    }
    @media screen and (max-width: 767px) {
      margin-top: 0;
    }
  }

  .text {
    margin-top: 4vh;
    max-width: 460px;
    font-family: 'Montserrat-Regular';
    font-size: 18px;
    @media screen and (min-width: 2560px) {
      max-width: 580px;
      font-size: 22px;
    }
    @media screen and (min-width: 4096px) {
      font-size: 42px;
      max-width: 1060px;
    }
    @media screen and (max-width: 767px) {
      margin-top: 0;
    }
  }

}

.mobile-display {
  display: none !important;
  @media screen and (max-width: 768px) {
    display: unset !important;
  }
}

.no-mobile-display {
  display: block !important;
  @media screen and (max-width: 767px) {
    display: none !important;
  }
}

.mobile-header {
  font-weight: bold;
  font-size: 46px;
  margin-top: 2vh;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  display: none;
  @media screen and (max-width: 767px) {
    display: block;
  }
}

.slick-dots {
  position: relative;
}

.bg-2 {
  //background: url("images/png/bg-image-2.png");
  background-repeat: no-repeat;
}

.slick-dots li button::before {
  font-size: 18px;
}

.vh100 {
  height: 100vh !important;
}

/* styling hamburger */
.hamburger {
  padding: 0;
  right: 20px;
  top: 20px;
  z-index: 4;
}

.fixed {
  position: fixed;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  width: 40px;
  right: unset;
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  width: 40px;
  right: unset;
}

.hamburger-inner {
  &:after {
    width: 30px;
    right: 0;
  }
  &:before {
    width: 30px;
    right: 0;
  }
}

.menu-container {
  display: none;
}

.fixed-menu {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: white;
  text-align: center;

  a {
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 40px;
  }
}

.flex-important {
  display: flex!important;
}

.menu-container {
  position: fixed;
  z-index: 2;
}

.text-col .min-top {
  margin-top: 2vh;
}

.z-index {
  position: relative;
  z-index: 1000;
}